{% extends "base.html" %} {% load static %} {% block content %}

<!-- index content start here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-sm-6 col-lg-4">
                    {% if post.status == 1 and post.author == user %}
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Click to view {{ post.title }}" class="post-link">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="default travel image"> {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="image related to {{ post.title }}"> {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author | title }}</p>
                                    </div>
                                </div>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                                <hr />
                                <p class="card-text text-muted h6">
                                    {{ post.created_on}}
                                </p>
                                <div class="my_posts_btn">
                                    <a href="{% url 'edit_post' post.id %}" class="btn btn-signup w-20">Edit Post</a>
                                    <a href="{% url 'delete_post' post.id %}" class="btn btn-delete w-20">Delete Post</a>
                                </div>
                            </div>
                        </div>
                    </a>{% elif post.status == 0 %}
                    <div class="card mb-4">
                        <div class="card-body faded-text">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="default travel image"> {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="image related to {{ post.title }}"> {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author | title }}</p>
                                </div>
                            </div>
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <hr />
                            <p class="card-text text-muted h6">
                                {{ post.created_on}}
                            </p>
                            <div class="my_posts_btn">
                                    <a href="{% url 'edit_post' post.id %}" class="btn btn-signup w-20">Edit Post</a>
                                    <a href="{% url 'delete_post' post.id %}" class="btn btn-delete w-20">Delete Post</a>
                                </div>
                            <p class="approval-text">
                                This post is awaiting approval
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                <div>
                    <h3 class="text-center">No posts written yet, add a new post <a href="{% url 'add_post' %}" aria-label="Link to create new post">here</a></h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Link to previous page">&laquo; Previous</a></li>
            {% endif %} {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Link to next page"> Next &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %} {% block copyright %}
<p class="m-0 text-center text-white">Copyright 2025 Patrik Lundström</p>
{% endblock %}