{% extends 'base.html' %} {% block title %}
  {{ post.title }}
{% endblock %} {% block content %}
  {% load static %} {% load crispy_forms_tags %}
  
  <div class="container">
    <div class="row">
    <div class="image-container">
    {% if 'placeholder' in post.featured_image.url %}
      <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="default travel image" />
    {% else %}
      <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="image related to {{ post.title }}" />
    {% endif %}
    <div class="image-flash">
        <h2>{{ post.title }}</h2>
        <p>Continent: {{ post.get_continent_display }}</p>
        <p>By {{ post.author }} | {{ post.created_on }}</p>
    </div>
  </div>
    
      <div class="col card mb-4 mt-3 left top">
        <div class="card-body">
          <article class="card-text">
            <!-- post content shows here -->
            {{ post.content|safe }} {% if user.is_authenticated and post.author == user %}
              <div class="">
                <a href="{% url 'edit_post' post.id %}" class="btn btn-signup w-20">Edit Post</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-signup w-20">Delete Post</a>
              </div>
            {% endif %}
          </article>
        </div>
      </div>
    </div>
    <!-- Display add favourites section and number of comments -->
    <div class="row">
      <div>
        <form action="{% url 'toggle_favourite' post.id %}" method="post" class="favorite">
          {% csrf_token %} {% if user.is_authenticated and is_favourited %}
            <button type="submit" class="btn-fav"><i class="fa-solid fa-heart"></i></button>
          {% elif user.is_authenticated and not is_favourited %}
            <button type="submit" class="btn-fav"><i class="fa-regular fa-heart"></i></button>
          {% endif %}
        </form>
      </div>
      <div class="col-12">
        <hr />
      </div>
      <div class="col-12">
        <strong><i class="fa-regular fa-comments"></i> {{ comment_count }}</strong>
      </div>
    </div>
    <!-- Display the comments -->
    <div class="row">
      <div class="col-md-8 card mb-4 mt-3">
        <h3>Comments:</h3>
        <div class="card-body">
          <!-- Loop to iterate through every comment -->
          {% for comment in comments %}
            <div class="p-2 comments
                {% if not comment.approved and comment.author == user %}
                faded-text
              {% elif not comment.approved %}
                 d-none
              {% endif %}">
              <p class="font-weight-bold">
                {{ comment.author|title }}
                <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
              </p>
              <div id="comment{{ comment.id }}">{{ comment.body|linebreaks }}</div>
              {% if not comment.approved and comment.author == user %}
                <p class="approval-text">This comment is awaiting approval</p>
              {% endif %} {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-signup" data-comment_id="{{ comment.id }}">Edit</button>
                <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- Add comments -->
      <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="commentForm" method="post">
              {{ comment_form|crispy }} {% csrf_token %}
              <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
          {% else %}
            <p>
              <a href="{% url 'account_login' %}">Log in</a>to leave a comment
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Delete comment confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete your comment? This action cannot be undone.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn btn-delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %} {% block extras %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
