{% extends 'base.html' %} {% block content %} {% load static %} {% block title %}{{ post.title }}{% endblock %}

<div class="bloghead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 bloghead-text">
                <!-- info about title, author and date created -->
                <h2>{{ post.title }}</h2>
                <p>{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="col-md-6 bloghead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top scale" src="{% static 'images/default.jpg' %}" alt="placeholder image"> {% else %}
                <img class="card-img-top scale" src=" {{ post.featured_image.url }}" alt="{{ post.title }}"> {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <article class="card-text">
                    <!-- post content shows here-->
                    {{ post.content | safe }}
                </article>

            </div>
        </div>
    </div>
</div>
{% endblock %}